body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #fdfcef, #3809e2); 
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.836);
    padding: 30px;
    display: flex;
    justify-content: space-around;
    font-style: italic;
    font-weight: bold;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}
header {
    text-align: center;
    margin-top: 70px;
    padding: 0%;
    background-color: #6fe60e;
}
main {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

section {
    width: 100%;
    color: #6116a7;
    padding: 1px;
}

aside {
    width: 60%;
    background-color: rgb(102, 102, 248);
    padding: 25px;
    border-radius: 700px;
    text-align: center;
}
.summary-style {
    font-size: 25px;
    color: #6116a7;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    text-align:center;


}
footer {
    text-align: center;
    padding: 1px;
    background-color: #a6b10e;
    color: rgb(195, 51, 214);
    position: fixed;
    bottom: 5px;
    width: 100%;
}
.figuras {
    display: inline;
    justify-content: 0px;
    gap: 150px;
    margin: 25px 0;
}

.circulo {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 255, 255);
    border-radius: 59%;
    text-align: center;

}

.cuadrado {
    width: 100px;
    height: 100px;
    background-color: rgb(250, 6, 250);
    text-align: center;

}

.triangulo {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgb(255, 0, 34);
    text-align:center;
    text-decoration: overline;
    text-emphasis-color: yellow;
}